body {
    margin: 0px;
    padding: 0px;
    color: initial !important;
}
#loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}
h4 {
    margin: 0px;
}

.loading-image {
    max-height: 250px;
    height: auto;
}
#graficos-container{
    display: none;
    width: 100%;
    height: 100%;
}
#title {
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    z-index: 1;
    position: fixed;
    text-align: center;
    background-color: #800404;
    color: white;
    display: none;
}
.mpld3-text {
    font-weight: bold;
    font-size: 14px;
}
/* Ocultar la línea vertical en el eje x */
.tick line {
    opacity: 0.1;
}

.row{
    place-content: center;
}
/* Agregar margen de 0 al contenedor en tamaños de pantalla de celular */
@media (max-width: 767.98px) {
    .container {
        margin: 0;
    }
}
.table-icon {
    display: inline-block;
    color: #007bff;
    text-decoration: none;
    transition: background-color 0.3s ease;
    cursor: pointer;
    font-size: 1em;
    margin-right: 620px;
}

.table-icon:hover {
    color: #0056b3;
}